/* menuButtonBygagan-gv.css */
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  
  background: #007bff;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.btn:hover, .btn.menu-open {
  background: #0056b3;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.btn .icon {
  position: absolute;
  left: 10px; /* Ajuste para centrar mejor el SVG */
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(50px); /* Ajuste para centrar mejor el texto */
  height: 2.7rem;
}

.btn:hover .icon, .btn.menu-open .icon {
  width: 150px;
}

.btn:hover .text, .btn.menu-open .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  min-width: 150px;
  border: 1px solid #007bff;
}

.dropdown-menu .dropdown-item {
  padding: 10px 15px;
  color: #007bff;
  text-decoration: none;
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f0f8ff;
  color: #0056b3;
}

#dark-mode-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
}

#theme-toggle-button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 7em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* Estilos para el modo oscuro */
.dark-mode .btn {
  background: #040f16;
  color: #f5f5f5;
}

.dark-mode .btn:hover, .dark-mode .btn.menu-open {
  background: #007bff;
  color: #ffffff;
}

.dark-mode .dropdown-menu {
  background: #040f16;
  border: none;
}

.dark-mode .dropdown-menu .dropdown-item {
  color: #f5f5f5;
}

.dark-mode .dropdown-menu .dropdown-item:hover {
  background-color: #333;
}

.dark-mode #dark-mode-toggle-container {
  border-top-color: #333;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
